<p>fileupload works!</p>

<div class="container-fluid">
  <div class="row">
    <!-- Show form  -->
    <div class="col-md-4 mt-5">

      <div class="card border-0 shadow">
        <div class="card-body">


      <div>
        <input type="file" class="text-nowrap text-truncate" (change) = "selectFile($event)">
        <button type="button" class="btn btn-outline-warning" [disabled] = "!selectedFiles" (click)="uploadFile()">upload</button>
      </div>

      <div class="progress mt-2">
        <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow = "{{percentage}}" aria-valuemin = "0" aria-valuemax="100" [ngStyle] = "{width: percentage + '%'}">
          {{percentage}}%

        </div>
      </div>

        </div>
      </div>

    </div>



    <!-- Display all files -->
    <div class="col-md-8">

    </div>
  </div>
</div>
